<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

<bean id="authFilter" class="com.visoft.framework.auth.AuthFilter">
<property name="loginUrl" value="/user/login"></property>
<property name="loginOutUrl" value=""></property>
<property name="whilteUrl">
<list>
<value>/user/login</value>
</list>
</property>
</bean>
		


</beans>