<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

<bean id="authFilter" class="com.visoft.framework.auth.AnnotationAuthFilter">
<property name="unauthenticationUrl" value="/unauth.jsp"></property>
<property name="authManager" ref="authManager"></property>
<property name="annotationMethodRequest" ref="annotationMethodRequest"></property>
</bean>
		
<bean id="authManager" class="com.visoft.framework.auth.AuthManager">
<property name="realm" ref="realm"></property>
</bean>	

<bean id="realm" class="com.visoft.framework.realm.DBRealm"></bean>	
		
<bean id="annotationMethodRequest" class="com.visoft.framework.auth.AnnotationMethodRequest"></bean>

</beans>